
/* this is a comment */
div#container {
	width: 100%;
}
div#menu {
	float: left;
	background-color: red;
	width: 30%;
}

div#content {
	float: right;
	/*background-color: green;*/
	width: 70%;
}

.menuitem {
	cursor: pointer;
}

.home {
	background-color: blue;
}

.contact {
	background-color: purple;
}

.about {
background-color: green;	
}